<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>LTI Tool Thingie</title>
    <script src="third-party/react.js"></script>
    <script src="third-party/react-dom.js"></script>
    <script src="third-party/babel.min.js"></script>
    <script src="third-party/ace.js"></script>
    <script src="third-party/mode-javascript.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>
  <body>
    <div id="root"></div>
    <script>
      const initstate = <%- JSON.stringify(initstate) %>
      const assignment = initstate.assignment
      const sessid = initstate.session
    </script>
    <script type="text/babel" src="code-component.js">
    </script>
    <div style="display:none" class="test-iframe"></div>
  </body>
</html>


