<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>LTI Tool Thingie</title>
    <!--script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script-->
    <script src="third-party/react.js"></script>
    <script src="third-party/react-dom.js"></script>
    <script src="third-party/babel.min.js"></script>

    <script src="third-party/ace.js"></script>
    <script src="third-party/mode-javascript.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script>
const assignment = <%- JSON.stringify(assignment) %>
// store a session for submission
const sessid = "<%- session %>";
    </script>
    <script type="text/babel" src="code-component.js">
    </script>
    <style>
      #root, .debug {
      background:white;
      }
      #editor {
      width:650px;
      height:300px;
      border: 1px solid black;
      }

      code, blockquote {
      font-family: monospace;
      background: hsl(220, 80%, 90%);
      white-space: pre-wrap;
      }
    </style>
<!--pre id="editor">
<%- assignment.template %>      
</pre-->

<div style="display:none" class="test-iframe"></div>
    
<pre style="display:none" class="debug">
DEBUG:
<%- JSON.stringify(provider,null,2) %>
  
<%- JSON.stringify(body,null,2) %>
</pre>

  </body>
</html>


