#GradeBot-header {
  text-align: center;
}

#GradeBot-header h4{
  margin-bottom: 9px;
}

#GradeBot-header hr {
  border: 0;
  height: 1px;
  margin-top: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 50%;
}

.challenge-instructions-tests h3 {
  text-align: center;
}

.challenge-instructions-tests {
  display: flex;
  justify-content: space-evenly;
}

.challenge-instuctions, .challenge-tests {
  width: 40%;
}

#editor, iframe {
  margin-top: 50px;
}

.editor-div {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

iframe {
  width: 212px;
  height: 378px;
  position: absolute;
  top: 39px;
  right: 172px;
  overflow-y: scroll;
}

img {
  width: 40em;
  z-index: -1;
}

.iphone {
  /* width: 100%;
  height: 100%; */
  position: relative;
  /* min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; */
  max-height: 500px;
}