@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

#root, .debug {
  background:white;
}

#editor {
  width:650px;
  height:300px;
  border: 1px solid black;
  margin: 30px auto;
}

code, blockquote {
  font-family: monospace;
  background: hsl(220, 80%, 90%);
  white-space: pre-wrap;
}

header#code-header {
  text-align: center;
}

header#code-header h3 {
  border-bottom: 1px solid grey;
  display: inline;
}

p {
  margin: 8px 0;
}

blockquote {
  display: inline;
  margin: 1px;
}

#description {
  margin: 45px;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.disabled {
  text-decoration: none;
  color: #fff;
  background-color: lightgray;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

input.btn, input.disabled {
  margin-left: 15px;
}

input.reset {
  background-color: lightpink;
}

.submit-btns {
  text-align: center;
}

.btn:hover {
  background-color: #2bbbad;
  cursor: pointer;
}

.reset:hover {
  background-color: #f9c0c8
}

.msg {
  text-align: center;
}
/* 
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
} */