@import url('https://fonts.googleapis.com/css?family=Lato');

/* * {
  box-sizing: border-box !important;
} */

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  margin: 50px;
}

#editor {
  width:650px;
  border: 1px solid black;
  margin-top: 50px;
  border-radius: 10px;
  z-index: 1;
}

p {
  margin: 8px 0;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

button.btn {
  margin-left: 15px;
}

button.reset {
  background-color: lightpink;
}

.submit-btns {
  text-align: center;
  margin-top: 30px;
}

.btn:hover {
  background-color: #2bbbad;
  cursor: pointer;
}

.reset:hover {
  background-color: #f9c0c8
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  word-wrap: break-word;
}

body.stop-scroll {
  height: 100%; 
  overflow: hidden;
}

blockquote {
  font-size: 90%;
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
  color: #c7254e;
  background-color: #fffbe5;
  border-radius: 4px;
  border: 1px solid #ccc;
  white-space: pre;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: -5px;
  overflow: auto;
}

